# {{ api_name }}

{{# sections }}
## {{ resource_name }}

{{# requests }}
### {{ full_route }}

{{# examples }}
* [{{ description }}]({{ dirname }}/{{ filename }})
{{/ examples }}
{{/ requests }}

{{/ sections }}
