# {{ api_name }}

{{# sections }}
## {{ resource_name }}

{{# requests }}
### {{ request_path }}

{{# examples }}
* [{{ description }}]({{ dirname }}/{{ filename }})
{{/ examples }}
{{/ requests }}

{{/ sections }}
